<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ms-auto py-4 py-lg-0">
        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                href="{% url 'demand:home' %}">صفحه اصلی</a></li>
        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                href="{% url 'users:profile' %}">پروفایل</a>
        </li>
        {#                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="post.html">Sample#}
        {#                    Post</a></li>#}
        {#                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"#}
        {#                                        href="#!">Contact</a>#}
        {#                </li>#}
        {% for cat in category %}
            <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                    href="{% url 'demand:home' %}">{{ cat.title }}</a>
        {% endfor %}
    </ul>
</div>