{% extends 'registration/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
<style>h1 {
    font-family: 'Sahel';
}</style>
{% block title %}{% block title-meta %}

    افزودن مقاله
{% endblock %}{% endblock %}

{% block main %}
    <div class="col-md-12">

        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title mb-0 float-left">افزودن مقاله</h3>
            </div>
        </div>

        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-success" style="font-family: 'Sahel'">ارسال مقاله</button>
                {% if user.is_superuser and request.resolver_match.kwargs.pk %}
                    <button class="btn btn-danger" style="font-family: 'Sahel'">
                        <a href="{% url 'users:demand-delete' demand.pk %}">حذف</a>
                    </button>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}