{% extends 'registration/base.html' %}

{% block title %}{% block title-meta %}
    خانه
{% endblock %}{% endblock %}

{% block main %}
    <br><br><br><br>
    <div class="col-md-12">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                            <tr>
                                <th>title</th>
                                <th>slug</th>
                                <th>short_description</th>
                                <th>category</th>
                                <th>image</th>
                                <th>user_name</th>
                                <th>status</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for demand in demands %}
                                <tr>
                                    {% if demand.status == 'd' or user.is_superuser %}
                                        <td>
                                            <a href="{% url 'users:demand-update' demand.pk %}">{{ demand.title }}</a>
                                        </td>
                                    {% else %}
                                        <td>{{ demand.title }}</td>
                                    {% endif %}
                                    <td>{{ demand.slug }}</td>
                                    <td>{{ demand.short_description|striptags|truncatewords:"10" }}</td>
                                    {#                                <td><span class="tag tag-success">Approved</span></td>#}
                                    <td>{{ demand.category }}</td>
                                    <td><img src="{{ demand.image.file.url }}" width="120px"></td>
                                    <td>{{ demand.user.get_full_name }}</td>
                                    <td>
                                        {% if demand.status == 'p' %}
                                            <span class="badge badge-success">منتشرشده</span>
                                            <a target="_blank" class="badge badge-primary"
                                               href="{% url 'demand:post' demand.slug %}">نمایش در
                                                سایت</a>
                                        {% else %}
                                            <span class="badge badge-danger">پیش نویس</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}