{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo</title>
</head>
<body>
<h1>Todo List</h1>
<ul>
    {% for lis in list %}
        <li><a href="{% url 'detail' lis.id %}">{{ lis.title }}</a></li>
        <form action="{% url 'delete_list' lis.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Delete</button>
        </form>
    {% endfor %}
</ul>

<form action="" method="post">
    {% csrf_token %}
    <input name="title" id="id_title">
    <button type="submit" id="list-create-btn">Submit</button>
</form>

{# js #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"
        integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    const listCreateBtn = document.getElementById('list-create-btn')
    listCreateBtn.addEventListener('click', function (e) {
        e.preventDefault()
        let fd = new FormData();
        fd.append('title', document.getElementById('id_title').value)
        fd.append('csrfmiddlewaretoken', '{{ csrf_token }}')
        axios.post('/send/', fd)
            .then(res => {
                console.log(res.data.status)
                console.log(res.data.title)
            }).catch(err => {
            console.log(err)
        })
    })
</script>
</body>
</html>